<div class="headerContainer">

    <div class="kiteIconContainer">
        <img src="../../../assets/kiteLogo.png" alt="" srcset="">
    </div>

    <div class="linksContainer">

        <ul class="header">

            <li>
                <a [routerLink]="['/login']" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact:true}">login</a>
            </li>
            <li><a  >logout</a></li>
            <li>
                <a [routerLink]="['/orders']" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact:true}">
                    orders
                </a>
            </li>
            <li>
                <a [routerLink]="['/holdings']" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact:true}">
                    holdings
                </a>
            </li>
            <li><a [routerLink]="['/funds']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">

                    Funds

                </a>
            </li>
            <li>
                <a [routerLink]="['/dashboard']" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact:true}">
                    Dashboard
                </a>
            </li>

        </ul>
    </div>




</div>